* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif; 
  background-color: #ffffff;
  color: #000000;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  margin-top: 1vw;
}
